*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(17, 16, 16);
}
body{
    background-color: rgb(209, 169, 169);
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    box-sizing: border-box;
}
nav ul {
    display: flex;
    float: left;
    margin-left: 850px;
    
}
span{
    color: red;
}

nav ul li{
    list-style-type: none;
    padding: 10px 20px;
}

nav ul li a{
    color: rgb(219, 12, 47);
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover{
    color: red;
    transition: 3s;
}


.btn{
    border: none;
    background: red;
    padding: 12px 30px;
    border-radius: 30px;
    color: brown;
    font-weight: bold;
    font-size: 15px;
    transition: 4s;
}
.coursel img{
    border-radius: 30px;
    width: 90%;
    padding-top: 25px;
    margin-left: 75px;
    height: 600px;
}

.container{
    background-color: rgb(233, 114, 114);
    
}

.welcome{
    display: flex;
    padding: 10px;
}
.about{
    display: flex;
    padding: 10px;
}
.services{
    display: flex;
    padding: 10px;
}
.contact{
    display: flex;
    padding: 10px;
}



.images{
    width: 80%;
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    
}

.images img{
    width: 100%;
    cursor: pointer;
    padding: 10px;
}

.images img :hover{
    transform: scale(0.8) rotate(-15deg);
    border-radius: 20px;
    box-shadow: 0 32px 75px;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.comment-box{
    width: 50%;
    border: 1px solid;
    margin: 50px 0;
    padding: 10px 20px;
    border-radius: 5px;
    margin-left: 25%;
    margin-top: 80px;
}

.comment

.footer{
    background-color: grey;
    padding: 70px 0;
}

.footer-col{
    width: 25%;
    padding: 0 15px;
}

footer-col h4{
    font-size: 18px;
    color: #ffff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
    background-color: red;
}
footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

footer-col ul1 li:not(:last-child){
    margin-bottom: 10px;
}

footer-col ul1 li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transform: all 0.3px ease;
}

footer-col .social-links{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: blue;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50;
}

.container{
    max-width: 1170px;
    background-color: pink;
    margin: auto;
}

ul1{
    list-style: none;
}

p{
    font-size: 150%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 70%;
    margin-left: 15%f
}
